/*
#0F0F0F-oscuro
#232D3F
#00ffb7
#008170-claro
*/

@import url('https://fonts.googleapis.com/css2?family=Strait&display=swap');

.pantalla {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.059);   
     
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {

    background-color: #232D3F   ;      
    height: 20vh;
    width: 20vw;
    position: absolute;        
    
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-family: 'Strait', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #00ffb7;

}

.text {
    font-family: 'Strait', sans-serif;
    margin: 0px;
    padding: 10px;
    color: #008170;
    align-items: center;
    text-align: center; /* propiedad para centrar el texto*/
}